<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>web</display-name>
	<!-- xml에 오타 발생시 서버가 실행되지 않습니다. -->
	<servlet>
		<servlet-name>search</servlet-name> <!--  가상으로 사용하는 이름(중복X) -->
		<servlet-class>web.Main</servlet-class>
	</servlet>
	<!-- mapping이란: java controller 가상의 웹주소를 설정하는 공간 -->
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/indexok.do</url-pattern> <!-- 같은 주소 사용금지 또한 / 기준이 필요합니다. -->
	</servlet-mapping>


<!-- 계산수식 페이지 -->

	<servlet>
		<servlet-name>cal_page</servlet-name>
		<servlet-class>web.cal</servlet-class> <!-- package.class 이름 -->
	</servlet>

	<servlet-mapping>
		<servlet-name>cal_page</servlet-name>
		<url-pattern>/calok.do</url-pattern>
	</servlet-mapping>
</web-app>